body {
	background-color: #333;
	color: #ccc;
	padding: 20px;
	font-size: 1.5rem;

	a {
		color: #aaa;
		text-decoration: none;
	}

	a.active {
		color: yellow;
	}

	.books {
		.book {
			background-color: #666;
			padding: 10px;
			border-radius: 5px;
			margin: 0 0 10px 0;
			.title {
				color: black;
			}
		}
	}
}